[
 {queuepusherl, [{rabbitmq_configs, [[
				      {username, <<"guest">>},
				      {password, <<"guest">>},
				      {vhost, <<"/">>},
				      {host, "localhost"},
				      {port, 5672}
				     ]]},
		 {rabbitmq_reconnect_timeout, 5000},
		 {rabbitmq_routing_key, <<"queuepush">>},
		 {rabbitmq_work, [
				  {queue, <<"qpush.queue.work">>},
				  {exchange, <<"qpush.exchange">>}
				 ]},
		 {rabbitmq_response, [
				  {queue, <<"qpush.queue.response">>},
				  {exchange, <<"qpush.exchange">>},
				  {routing_key, <<"queuepush.response">>}
				 ]},
		 {rabbitmq_retry, [
				   {queue, <<"qpush.queue.retry">>},
				   {exchange, <<"qpush.dlx">>},
				   {timeout, 10000}
				  ]},
		 {event_attempt_count, 3},
		 {error_smtp, []},
		 {error_from, <<"admin@localhost.localdomain">>}
		]},
 {lager, [
	  {colored, true},
	  {handlers, [
		      %{lager_console_backend, debug}
		      {lager_console_backend, info}
		     ]}
	 ]}
].
%% vim: ft=erlang: tw=100
